@use './styles/reset.scss';
@use '@synanetics/syn-library/core';
@use '@synanetics/syn-library/synanetics' as *;

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
